.heroText {
    margin: 0px 0px 0px 12px;
    font-family: "Playwrite GB S", cursive;
    font-size: 22px;
    font-style: normal;
    width: 240px;
    line-height: 1.5;
    font-weight: bold; 
    color: #ffffff; 
    text-shadow: 4px 4px 8px #e59af880;
    margin-bottom: 80px;
}

.spanText {
    text-decoration: underline;
}

.heroDescr {
    margin: 0 auto;
    color: rgb(245, 245, 245);
    font-size: 16px;
    margin-bottom: 32px;
    font-family: "Playwrite GB S", cursive;
    width: 280px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    padding: 6px;
}

.divBack {
    background-image: url("../../assets/images/reviews/ellipse.png");
    background-size: cover;
    background-position: center;
}

.image {
    display: none;
}

.divHero {
    max-width: 425px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('../../assets/images/about/ania_one_tel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 100px 15px 88px 15px;
}

.divButton {
    display: flex;
    justify-content: center;
    width: 280px;
    justify-content: space-between;
    margin: 0 auto;
}

.heroButtonOne {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f2ed2;
    border: none;
    text-align: center;
    color: aliceblue;
    width: 132px;
    height: 52px;
    border-radius: 23% 50% 33% 31%;
    padding: 2px 8px;
    transition: background-color 400ms linear;
}

.heroButtonOne:hover,
.heroButtonOne:focus {
    background-color: #db2a97;
}

.heroButtonTwo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f2ed2;
    border: none;
    color: aliceblue;
    width: 132px;
    height: 52px;
    border-radius: 33% 22% 44% 30%;
    padding: 2px 8px;
    transition: background-color 400ms linear, box-shadow 400ms linear;
}

.heroButtonTwo:hover,
.heroButtonTwo:focus {
    background-color: #db2a97;
}

.imageDesc {
    display: none;
}

@media screen and (min-width: 768px) {
    .divBack {
        background-size: 118% 130%;
        background-repeat: no-repeat;
    }

    .divHero {
        max-width: 768px;
        background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url('../../assets/images/about/ania_one_back.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        padding: 80px 40px;
        gap: 30px;
    }

    .image {
        display: block;
        width: 350px;
        height: 350px;
        border-radius: 16px;
    }

    .heroText {
        font-size: 32px;
        width: 300px;
        font-weight: 800;
        margin-bottom: 40px;
        margin-left: 0;
    }

    .heroDescr {
        font-size: 20px;
        width: 320px;
    }

    .heroButtonOne {
        width: 148px;
    }

    .heroButtonTwo {
        width: 148px;
    }

    .divButton {
        width: 318px;
    }
}


@media screen and (min-width: 1440px) {
    .divBack {
        background: none;
    }

    .divHero {
        max-width: 1440px;
        background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url('../../assets/images/about/ania_one_desc.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        gap: 0;
        justify-content: space-between;
        padding: 160px 90px 60px 90px;
        height: 720px;
    }

    .image {
        display: none;
    }

    .imageDesc {
        width: 380px;
        height: 100%;
        border-radius: 12px;
    }

    .heroText {
        width: 800px;
        font-weight: 900;
        font-size: 44px;
        margin-bottom: 20px;
    }

    .heroDescr {
        background: none;
        text-align: start;
        margin: 0px 0px 40px 0px;
        width: 800px;
    }

    .divButton {
        width: 800px;
        justify-content: start;
        gap: 40px;
    }

    .heroButtonOne {
        width: 180px;
        height: 60px;
        font-size: 18px;
    }

    .heroButtonTwo {
        width: 180px;
        height: 60px;
        font-size: 18px;
    }
    
}