.sectionPak {
    width: 100%;
    padding: 40px 0;
    background-color: #1e1e2d;
}

.containerPak {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
}

.textPakiety {
    margin: 0 auto;
    width: max-content;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #734af8;
    margin-bottom: 48px;
}

.listPak {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.listPak li {
    border-radius: 12px;
    padding: 8px 16px 24px 18px;
    position: relative;
    padding-top: 36px;
    background-repeat: no-repeat;
    height: max-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); 
}

.listPak li:nth-child(1) {
    background-image: url("../../assets/images/reviews/ellipse_two.png");
    background-size: -40% 200%;
    background-position: right;
    border: 3px solid rgb(251, 192, 115);
    box-shadow: 0 4px 8px rgba(251, 192, 115, 0.4); 
}

.listPak li:nth-child(2) {
    background-image: url("../../assets/images/reviews/ellipse_two.png");
    background-size: -40% 200%;
    background-position: right;
    border: 3px solid silver;
    box-shadow: 0 4px 8px rgba(192, 192, 192, 0.4); 
}

.listPak li:nth-child(3) {
    background-image: url("../../assets/images/reviews/ellipse_two.png");
    background-size: -40% 200%;
    background-position: right;
    border: 3px solid gold;
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.4); 
}


.listPak li p {
    font-size: 18px;
    font-weight: 400;
    color: whitesmoke;
    margin: 0;
}

.listPak li a {
    font-size: 22px;
    font-weight: 600;
    margin: 0px 0px 16px 0px;
    color: black;
    position: absolute;
    top: -16px;
    left: 18px;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 12px;
    background-color: rgba(245, 245, 245, 0.926);
}

.listPak li a.linkPakGold {
    background-color: gold;
}

.listPak li a.linkPakSilver {
    background-color: silver;
}

.listPak li a.linkPakBronze {
    background-color: rgb(251, 192, 115);
}


@media screen and (min-width: 768px) {
    .sectionPak {
        padding: 0px 16px 40px 16px;
    }
    
    .containerPak {
        max-width: 720px;
    }
    
    .textPakiety {
        font-size: 32px;
    }
    
    .listPak {
        display: flex;
        gap: 48px;
    }
        
    .listPak li {
        height: max-content;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); 
    }

    
    .listPak li p {
        font-size: 20px;
    }

    .listPak li a {
        font-size: 24px;
    }
    
}

@media screen and (min-width: 1440px) {
    .sectionPak {
        padding: 0px 32px 60px 32px;
    }

    .containerPak {
        max-width: 1440px;
    }
    
    .textPakiety {
        font-size: 32px;
    }
    
    .listPak {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }
        
    .listPak li {
        width: 438px;
        height: 246px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); 
    }

    .listPak li p {
        font-size: 20px;
    }

    .listPak li a {
        font-size: 24px;
    }
    
}